@page
@model POSWebsite.Pages.Auth.CartModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <h3>Cart</h3>

    <form method="post" asp-page-handler="Update">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CartItems != null && Model.CartItems.Any())
                {
                    @for (var i = 0; i < Model.CartItems.Count; i++)
                    {
                        <tr align="center">
                            <td>
                                <a asp-page="Cart" asp-page-handler="Delete" asp-route-id="@Model.CartItems[i].Product.Id">X</a>
                            </td>
                            <td>@Model.CartItems[i].Product.Id</td>
                            <td>@Model.CartItems[i].Product.ProductName</td>
                            <td><img src="~/images/product/@Model.CartItems[i].Product.Photo" width="120" height="100" /></td>
                            <td>$@Model.CartItems[i].Product.RetailPrice</td>
                            <td>
                                <input type="number" asp-for="@Model.CartItems[i].Quantity" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Your cart is empty.</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <a asp-page="Index">Continue Shopping</a>
</body>
</html>
