@page
@model POSWebsite.Pages.Auth.ChangePasswordModel
@{
}

<div class="card auth-card mb-0 mx-30">
    <div class="card-body pt-5">
        <a href="./index.html" class="text-nowrap logo-img text-center d-block mb-4 w-100">
            <img src="../../dist/images/logo/logo-light.svg" width="180" alt="">
        </a>
        <h5 class="text-center">Change New Password</h5>
        <form method="post">
            <div class="mb-3">
                <label for="oldPasswordInput" class="form-label">Old Password</label>
                <input type="password" class="form-control" name="OldPassword" id="oldPasswordInput">
            </div>
            <div class="mb-3">
                <label for="newPasswordInput" class="form-label">New Password</label>
                <input type="password" class="form-control" name="NewPassword" id="newPasswordInput">
            </div>
            <div class="mb-4">
                <label for="ConfirmPasswordInput" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmPasswordInput">
            </div>
            <input type="hidden" value="@Model.GetCurUserEmail()" name="Email" />
            @if (Model.GetResponseStatus() != null)
            {
                if (!Model.GetResponseStatus().Status)
                {
                    <div class="alert alert-danger w-100" role="alert">
                        @Model.GetResponseStatus().Message
                    </div>
                }
                else
                {
                    <div class="alert alert-success w-100" role="alert">
                        @Model.GetResponseStatus().Message
                    </div>
                }
            }
            <button type="submit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2" id="changePwdBtn">
                <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                <span id="changePwdLabel">Change Password</span>
            </button>
            <a asp-area=""
               asp-page="/Auth/MyProfile" class="btn btn-light-primary text-primary w-100 rounded-pill">
                Back to Home
            </a>
        </form>
    </div>
</div>

<script type="text/javascript">
    const signInBtn = document.getElementById('changePwdBtn');
    const signInLabel = document.getElementById('changePwdLabel');

    signInBtn.addEventListener('click', () => {
        signInBtn.classList.add('disabled');
        signInLabel.textContent = 'Loading...';
        signInBtn.querySelector('.spinner-grow').classList.remove('d-none');
    });
</script>