@page
@model POSWebsite.Pages.Auth.CheckoutOrderModel
@{
}

<div class="card overflow-hidden invoice-application">
    <div class="d-flex">
        <div class="w-100 chat-container">
            <div class="invoice-inner-part h-100">
                <div class="invoiceing-box">
                    <div class="invoice-header d-flex align-items-center border-bottom p-3">
                        <h4 class="font-medium text-uppercase mb-0">Invoice</h4>
                        <div class="ms-auto">
                            <h4 class="invoice-number"></h4>
                        </div>
                    </div>
                    <div class="p-3" id="custom-invoice">
                        <div class="invoice-123" id="printableArea" style="display: block;">
                            <div class="row pt-3">
                                <div class="col-md-12">
                                    <div>
                                        <address>
                                            <h6>Customer</h6>
                                            <h6 class="fw-bold">Le Thanh Tien</h6>
                                            <p class="ms-1">0901234567</p>
                                            <p class="ms-1">No. 19, Nguyen Huu Tho, District 7, HCMC</p>
                                            <p class="mt-4 mb-1">
                                                <span>Invoice Date :</span>
                                                <i class="ti ti-calendar"></i>
                                                23rd Jan 2021
                                            </p>
                                        </address>  
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive mt-5" style="clear: both">
                                        <table class="table table-hover">
                                            <thead>
                                                <!-- start row -->
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Description</th>
                                                    <th class="text-end">Quantity</th>
                                                    <th class="text-end">Unit Cost</th>
                                                    <th class="text-end">Total</th>
                                                </tr>
                                                <!-- end row -->
                                            </thead>
                                            <tbody>
                                                <!-- start row -->
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>Milk Powder</td>
                                                    <td class="text-end">2</td>
                                                    <td class="text-end">$24</td>
                                                    <td class="text-end">$48</td>
                                                </tr>
                                                <!-- end row -->
                                                <!-- start row -->
                                                <tr>
                                                    <td class="text-center">2</td>
                                                    <td>Air Conditioner</td>
                                                    <td class="text-end">5</td>
                                                    <td class="text-end">$500</td>
                                                    <td class="text-end">$2500</td>
                                                </tr>
                                                <!-- end row -->
                                                <!-- start row -->
                                                <tr>
                                                    <td class="text-center">3</td>
                                                    <td>RC Cars</td>
                                                    <td class="text-end">30</td>
                                                    <td class="text-end">$600</td>
                                                    <td class="text-end">$18000</td>
                                                </tr>
                                                <!-- end row -->
                                                <!-- start row -->
                                                <tr>
                                                    <td class="text-center">4</td>
                                                    <td>Down Coat</td>
                                                    <td class="text-end">62</td>
                                                    <td class="text-end">$5</td>
                                                    <td class="text-end">$310</td>
                                                </tr>
                                                <!-- end row -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-right mt-4 text-end">
                                        <p>Sub - Total amount: $20,858</p>
                                        <p>vat (10%) : $2,085</p>
                                        <hr>
                                        <h3><b>Total :</b> $22,943</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="text-end">
                                        <button class="btn btn-primary" type="submit">
                                            Proceed to payment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>